<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/vanguard/meta-images/season-4/WZ_Metashare.jpg" alt="warzone">
 </div> 
  
<%- include('../partials/footer') %>