
    <%- include('../partials/header') %>

<h2><%=title%></h2>
  	<h5>Photo of me:</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p>

	</div>
	<div class="col-sm-8">
  	<h2>TITLE HEADING</h2>
  	<h5>Title description, Dec 7, 2020</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p></p>
  	<p>In this project we built a Node.js website using EJS and Express templates so  you can click on different options to view some of my interests. We used different commands in order to call the data into the index so it would work together to show on the page. </p>

 

    <%- include('../partials/footer') %>