 <%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://cdn.britannica.com/34/212134-050-A7289400/Lionel-Messi-2018.jpg" alt="messi" width="500" height="500">
 </div> 
  
<%- include('../partials/footer') %>