<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://www.sportzcraazy.com/wp-content/uploads/2020/03/ajax-fc.jpeg" alt="ajax">
 </div> 
  
<%- include('../partials/footer') %>